.fa {
    color: #ffffff;
}

.content-wrapper {
    margin-top: 56px;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link,
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}