.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 10px auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:.25rem;
}

.form-signin .form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.form-signin  .checkbox {
    font-weight: normal;
}

.form-signin  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}
.form-signin  input[type="text"] {
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin  input[type="password"] {
    margin-top: 10px;
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


input.error {
    border: 1px solid red;
}

p.success {
   color: green;
}

p.error {
    color: red;
}

.hidden {
    display: none;
}