.carousel-item{
    overflow-y:hidden;
    height: 450px;
}
.carousel-center{
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.carousel-caption {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

body{
        background-image: url("../images/bg.png");
        background-repeat: no-repeat;
        background-size: 100%, 100%;
    }
